.lower_data{
    display: flex;
    justify-content: space-between;
}
.upper_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last_data{
    
    display: flex;
    justify-content: space-between;
}
.addcard{
    color: blueviolet;
    width: 150px;
    background-color: #ff3054db;
    margin-bottom: 40px;
}
.have{
    border:none ;
}
.list-view-element .have {
    display: flex;  
  }
  .list-view-element .have .cd {
    display: flex;
    margin-right: 10px; 
    width: 100px;
  }
.list-view-image-one{
    width:  100px;
    max-height: 110px;
    border: 2px solid orange;; 
    position: relative;
  }
  .list-view-hh{
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
   position: absolute;
   top: 93px; 
   left: 140px;    
  }
  .list-view-h4{
    font-size: 2px;
    margin-left: 120px;
    bottom: 30px;
    position: absolute;
    top: 20px;
  }
  .list-view-span-one{
    position: absolute;
    margin-left: 800px;
    top: 30px;
  }
  .list-view-h5{
    margin-left: 120px;
    position: absolute;
    top: 60px;
  }
  .list-view-span{
  margin-left: 800px;
  position: absolute;
 top: 60px;
  }
  .list-view-button{
    position: absolute;
    margin-left: 400px;
    top: 80px;
  }
  .list-view-img-end{
    position: absolute;
   left: 755px;
   top: 70px;
  }
  .lasimg{
    margin-top: 15px;
    color: black;
    margin-left: -20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.hove{
    border-radius: 10px;
    cursor: pointer;
}
.hove:hover{
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    transition: .2s;
}
.cd{
    border-radius: 16px;
    margin-top: 20px;
    height: 16rem;
}
.upper_data h4{
    font-size: 18px;
    color: rgba(17,17,17,0.849);
    letter-spacing: .5px;
    font-weight: 500;
}
.upper_data span{
    background-color: rgb(36,150,63);
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 1px;
    width: 45px;
}
.lower_data h5{
    font-size: 15px;
letter-spacing: .4px;
font-weight: 400;
color:rgba(17,17,17,0.849) ;
}
.lower_data span{
    font-size: 15px;
    letter-spacing: .4px;
    color:rgba(17,17,17,0.849) ;
}
.extra{
    border-bottom: 1px solid rgba(17,17,17,0.449);
}
.last_data .limg{
    width: 18px;
}
.last_data p{
    font-size: 14px;
    margin-top: 18px;
    letter-spacing: .2px;
    color: rgba(17,17,17,0.849);
}
.last_data {
    margin-left: 20px;
}
#ex4 .p1[data-count]:after{
    position:absolute;
    right:10%;
    top:8%;
    content: attr(data-count);
    font-size:40%;
    padding:.2em;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 18px;
  }
  #ex4 .fa-stack{
    width: 1.5em;
  }
@media (max-width:600px){
    .con{
        flex-direction: column;
        align-items: center;
    }
    .last_data p{
        font-size: 22px;
    }
}




